Checks: >
    -*,
    bugprone-*,
    clang-analyzer-*,
    cppcoreguidelines-*,
    misc-*,
    modernize-*,
    performance-*,
    readability-*,
    -modernize-use-trailing-return-type,
    -readability-magic-numbers,
    -cppcoreguidelines-avoid-magic-numbers,
    -cppcoreguidelines-pro-bounds-pointer-arithmetic,
    -readability-identifier-length,
    -cppcoreguidelines-pro-type-reinterpret-cast,
    -misc-non-private-member-variables-in-classes
WarningsAsErrors: ''
HeaderFilterRegex: 'include/modbus_pp/.*'
